.footer{
    padding-inline: 15%;
    padding-block: 15px;
    //background-color: black;
    background-image: linear-gradient(#2E2D31, #000000, #000000,#000000, #000000,#000000, #000000);
    color: azure;
    
    a{
        font-size:20px;
        font-family: Gadugi, Arial, Helvetica, sans-serif;
        color:azure;
    }
}