.hero-image {
    height:60vh;
    border-radius: 10px;
}

.hero-section {
    //background-color:#2E2D31;
    background-image: url("/bgphoto.png");
    background-size:cover;
    color:azure;
}

.hero-button {
    background-color: #05878A;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    font-family:'ADLaM Display', Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top:40px;
    cursor: pointer;
}

.secondary-button {
    background-color:#5a175d00;
    color:azure;
    padding: 10px;
    border-radius: 10px;
    border-color:azure;
    font-family:'ADLaM Display', Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top:40px;
    cursor: pointer;
}

.project-card {
    width:80vw;
    min-height: 300px;
    height:20vh;
    background-color: #5A175D;
    color:azure;
    border-radius: 15px;
    overflow:hidden;
    

    img {
        display:flex;
        height:100%;
    }

    a {
        color: #D18614;
    }

    h2 {
        padding:10px;
    }
}

.project-card-blue {
    background-color: #05878A;
}

.project-card-item {
    width:100%;
    object-fit:cover;

}

.big-project-card-item {
    width:70%;
}

.small-project-card-item {
    width:30%;
}

.project-section {
    background-color:#2E2D31;
    color:azure;
}

.paired-button {
    margin-right: 50px;
}

.about-me-section {
    width:75vw;
    display:flex;
}

.about-text {
    flex-direction:column;
    padding-top:5px;
}

.review-section {
    background-color:#2E2D31;
    padding-block: 80px;
}

.review-card-wrapper {
    width:100%;
    padding-inline: 10vw;
    padding-block:20px;
}

.review-left {
    width:40vw;
    transform:translate(5px, 10px);
    border-radius:15px;
    overflow:hidden;
}

.review-right {
    width:40vw;
    transform:translate(-5px, -10px);
    border-radius:15px;
    overflow:hidden;
}

.review-text {
    background-color:rgba(240, 255, 255, 0.897);
    padding:15px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: Gadugi, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.review-image {
    height:100%;
}